
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */